<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- jQuery -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.4.min.js"
    ></script>

    <!-- iamport.payment.js -->
    <script
      type="text/javascript"
      src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"
    ></script>

    <script
            data-payment_key="{{ payment_key }}"
            data-ticket_name="{{ ticket_type.name }}"
            data-ticket_price="{{ ticket_type.price }}"
            data-user_name="{{ user_name }}"
    >
      const IMP = window.IMP;
      const data = document.currentScript.dataset;

      IMP.init("imp80859147");

      function requestPay(payment_key, name, amount) {
          const tel_no = document.getElementById("purchase_tel_no").value;

          if (tel_no === undefined || tel_no === "") {
              alert("전화번호를 입력하세요");
              return
          }

        IMP.request_pay(
          {
            pg: "html5_inicis.INIpayTest",
            pay_method: "card",
            merchant_uid:data.payment_key,
            name: data.ticket_name,
            amount: data.ticket_price,
            buyer_name: data.user_name,
            buyer_email: "",
            buyer_tel: "01000000000"    // TODO
          },
          function (rsp) {
              console.log(rsp)

              if (rsp.success) {
                  location.replace("{% url "page-ticket-success" %}")
              } else {
                  location.replace("{% url "page-ticket-failed" %}")
              }
            //rsp.imp_uid 값으로 결제 단건조회 API를 호출하여 결제결과를 판단합니다.
          }
        );
      }
    </script>

    <meta charset="UTF-8">
    <title>티켓 상세</title>
</head>
<body>
    <h1>{{ ticket_type.name }}</h1>
    <p>상품명: {{ ticket_type.desc }}</p>

    <p>
        전화번호: <input id="purchase_tel_no" type="tel"/>
    </p>

<button onclick="requestPay()">
    구매하기
</button>

</body>
</html>