{% extends "_base.html" %}
{% block content %}
    <table class="table-auto">
        <thead>
            <tr>
                <th>id </th>
                <th>user</th>
                <th>금액</th>
                <th>결제일 </th>
                <th>취소</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in ticket_list %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.payment.money }}</td>
                    <td>{{ ticket.create_at }}</td>
                    <td>
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                            Button
                          </button>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
